body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  min-height: 100vh;
}

header {
  display: grid;
  grid-template-columns: 120px auto 90px 36px 60px;
  padding-top: 1em;
  border-bottom: 1px solid lightgrey;
}

header h1 {
  font-size: 1.5em;
}

.logo {
  width: 100px;
  margin: 2px 10px 0 10px;
}

.divider {
  background: lightgray;
  margin: 0 16px;
  display: block;
  height: 32px;
  width: 1px;
}

.icon {
  width: 32px;
}

.docsLink {
  color: #1f2d3d;
  background: white;
  border: 1px solid lightgray;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 12px;
  line-height: 16px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  margin-bottom: 27px;
}

.docsLink:active {
  background: white;
}

main {
  padding-top: 2em;
  display: grid;
  justify-content: center;
  align-content: center;
}

#daily-call-container {
  width: 75vw;
  height: 75vh;
  max-width: 1280px;
  max-height: 720px;
  display: grid;
}

#join {
  font-size: 12px;
  padding: 4px 16px;
  border-radius: 8px;
  margin-bottom: 2em;
  border: 1px solid #1bebb9;
  background-color: #1bebb9;
  color: #1f2d3d;
}
#join:hover {
  cursor: pointer;
  background-color: #1bfdb9;
  box-shadow: rgba(27, 235, 185, 0.6) 0px 0px 0px 2px;
}

